.pageTitle{
	text-align: center;
}

/*#familyForm{
	width: 0 auto;
}

label{
    display: inline-block;
    float: left;
    clear: left;
    width: 250px;
    text-align: right;
}
input {
  display: inline-block;
  float: left;
}*/


#parent{
	display: table;
	width: 100%;
}

#familyForm{
	display: table-cell;
   	text-align: center;
   	vertical-align: middle;
}

