<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta name="keywords" content="sports, sponsor, youth programs, soccer, baseball, football, hockey, kids sports">
    <meta name="author" content="James Doocy">
    <title>SportSponsor | Welcome</title>

    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link rel="stylesheet" type="text/css" href="/css/registration.css">


    <script type="text/javascript" src="/js/script.js"></script>

  </head>

  <header>

	<div class="container">
		<dir id="branding">
			<h1><span class="highlight">Sport</span>Sponsor</h1>
		</dir>
		<nav>
			<ul>
				<li class="current"><a href="/">Home</a></li>
				<li class="current"><a href="/account">Sign In</a></li>
				<li>
					<div class="dropdown">
					  <button onclick="myFunction()" class="dropbtn">Register</button>
					  <div id="myDropdown" class="dropdown-content">
					    <a href="/registerFamily">Family</a>
   					    <a href="/registerSponsor">Sponsor</a>
					    <a href="/registerVendor">Vendor</a>
					    <a href="/registerLeague">League</a>
					  </div>
					</div></li>
			</ul>
		</nav>
	</div>
	</header>

<body>
	{{{body}}}

</body>

</html>