<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta name="keywords" content="sports, sponsor, youth programs, soccer, baseball, football, hockey, kids sports">
    <meta name="author" content="James Doocy">
    <title>SportSponsor | Welcome</title>
    <link rel="stylesheet" type="text/css" href=".././main.css">
  </head>
<body>
  {{{body}}}
</body>
</html>