<h1 class="pageTitle">Family Registration</h1>

<form  action="" method="post">
Username: <input type="text" name="username"><br>
Password: <input type="text" name="password"><br>
Password: <input type="text" name="password"><br><br>

<label>First Name:</label> <input type="text" name="firstName"><br>
<label>Last Name:</label>  <input type="text" name="lastName"><br>
Street: 	<input type="text" name="street"><br>
City: 		<input type="text" name="city"><br>
State:  	<input type="text" name="state"><br>
Zip Code: 	<input type="number" name="zipCode"><br>

</form>
